.directory-page {
  width: 100%;
  padding: 2rem 0;
  background-color: #f2f4f8;
}

.doctor-list-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: -350px; /* Negative margin to lift up the grid */
}




.doctor-list-section h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.0 rem;
  color: #333;
}

.doctor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.map-section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

.map-section h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}
